/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/components/_styles.scss */
body {
  background: #eee;
}

/* line 2, ../sass/components/_styles.scss */
.container {
  width: 900px;
  margin: 0 auto;
}
