.first {
	.field-name-field-section-5-title,
	.field-name-field-before-after-image {display: none;}
}

.field-name-field-before-after-image {
	margin: 15px 56px;
	width: 770px;
	border: 5px solid $white;

	.twentytwenty-overlay {display: none;}
}