#header {
	background: url(../images/bg_header.png) repeat top center;
	height: 124px;
	position: fixed;
	z-index: 200;
	width: 100%;
	top: 0;
}

.logged-in.toolbar.toolbar-drawer #header {top: 65px;}
.logged-in.toolbar #header {top: 30px;}

#site-name-slogan {float: left; width: 304px;}
h1#site-name {
	margin-top: 10px;
	a {
		background: url(../images/logo_main.png) no-repeat 0 0;
		width: 304px;
		height: 66px;
		display: inline-block;
		margin: 0;
		padding: 0;
		text-indent: -9999px;
	}
}

nav.main-menu {
	float: left;
	width: 298px;
	margin: 0;
	padding: 0;

	.block-title {display: none;}

	ul {margin: 10px 0 0; padding: 0;
	  li {margin: 3px 0; padding: 0; float: left; width: 50%; list-style: none; text-align: center; 
	  	a {font-weight: 900; text-transform: uppercase; font-size: 16px; color: $teal; font-family: $raleway;}
	  	a:hover, a:active {color: $orange;} 
	  }
	}
}