
#header {
	background: url(../images/bg_header.png) repeat top left;
	height: 124px;
	position: relative;
	z-index: 20;
}
#main {max-width: 1400px;}

.section {display: block; position: relative;}
.section.first {
	background: url(../images/bg_section1.png) repeat top left;
	margin-top: -5px;
}
.section.second {background: url(../images/bg_section2.png) repeat top left;}
.section.third {background: #fff}
.section.fourth {background: #30565b url(../images/bg_section4.png) no-repeat top center;}
.section.fifth {background: url(../images/bg_section5.png) no-repeat top center;}
.section.sixth {background: url(../images/bg_section6.png) no-repeat top center;}
.section.seventh {background: url(../images/bg_section7.png) repeat top left;}

.container {
	max-width: 900px; 
	margin: 0 auto;
	padding: 20px 0;
}