.section {display: block;}

.section.first {background: #fff}
.section.second {}
.section.third {background: #fff}
.section.fourth {}
.section.fifth {background: #fff}
.section.sixth {}
.section.seventh {background: #fff}

.container {
	width: 900px; 
	margin: 0 auto;
	padding: 20px 0;
}