#main {max-width: 1400px; min-width: 900px;}

.section {display: block; position: relative;}
.front .section.first {
	background: url(../images/bg_section1.png) no-repeat top center;
	margin-top: -5px;
	height: 429px;

	.field-type-text {display: none;}
}
.section.second {
	background: url(../images/bg_section2.png) repeat top center;

	#block-views-slideshow-block {
		width: 100%;

		h2 {		
			background: url(../images/hdr_looking-back.png) no-repeat 0 0;
			width: 900px;
			height: 109px;
			display: inline-block;
			margin: 0 auto;
			padding: 0;
			text-indent: -9999px;
		}
	}
}
.section.third {
	background: url(../images/bg_section3.png) repeat top center; font-family: $domine; height: 574px;
		h2 {		
			background: url(../images/hdr_tell-story.png) no-repeat 0 0;
			width: 900px;
			height: 91px;
			display: inline-block;
			margin: 0 auto;
			padding: 0;
			text-indent: -9999px;
		}
		img {float: right;}
		.views-field-field-quote-author {
			background: $cream;
			padding: 20px;
			margin: 20px 0 0;
			width: 395px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;

			.quote {color: $teal;}
			.author {margin: 0; color: $orange;}
		}
		.button {
			
			width: 192px;
			height: 79px;
			display: inline-block;
			margin: 15px 15px 0 0;
			padding: 0;
			text-indent: -9999px;
		}
		.button.tell-story {background: url(../images/btn_write-story.png) no-repeat 0 0;}
		.button.read-stories {background: url(../images/btn_all-stories.png) no-repeat 0 0;}
}
.section.fourth {background: #30565b url(../images/bg_section4.png) no-repeat top center; height: 501px;
		h2 {		
			background: url(../images/hdr_join-crew.png) no-repeat 0 0;
			width: 900px;
			height: 76px;
			display: inline-block;
			margin: 0 auto;
			padding: 0;
			text-indent: -9999px;
		}
		img {float: right;}
		h3, p {color: #f5f5f5;}
		.read-more {
			background: url(../images/btn_crew.png) no-repeat 0 0;
			width: 193px;
			height: 84px;
			display: inline-block;
			margin: 0 auto;
			padding: 0;
			text-indent: -9999px;
			position: absolute;
			top: 377px;
			right: 18px;
		}
}
.section.fifth {background: url(../images/bg_section5.png) no-repeat top center;
		h2 {		
			background: url(../images/hdr_how-far.png) no-repeat 0 0;
			width: 900px;
			height: 88px;
			display: inline-block;
			margin: 0 auto;
			padding: 0;
			text-indent: -9999px;
		}
}
.section.sixth {background: url(../images/bg_section6.png) no-repeat top center; height: 642px;
		h2 {		
			background: url(../images/hdr_then-now.png) no-repeat 0 0;
			width: 900px;
			height: 117px;
			display: inline-block;
			margin: 0 auto;
			padding: 0;
			text-indent: -9999px;
		}
		h3 {color: $yellow; margin-top: 60px;}
		p {color: #f5f5f5; margin-top: 10px;}
		h3, p {
			width: 360px;
			margin-left: 470px;
		}
		.s6-btn {
			
			width: 175px;
			height: 61px;
			display: inline-block;
			margin: 0;
			padding: 0;
			text-indent: -9999px;
			cursor: pointer;
		}
		.tribute {background: url(../images/btn_see-tribute.png) no-repeat 0 0; float: left; margin: 0 10px 0 0;}
		.brave {background: url(../images/btn_see-brave.png) no-repeat 0 0; float: right;}

}		
.section.seventh {background: url(../images/bg_section7.png) repeat top center; height: 450px;
		h2 {		
			background: url(../images/hdr_ads.png) no-repeat 0 0;
			width: 900px;
			height: 90px;
			display: inline-block;
			margin: 0 auto;
			padding: 0;
			text-indent: -9999px;
		}
		.content {margin: 20px 0 0;}
}

.container {
	width: 900px; 
	margin: 0 auto;
	padding: 20px 0;
}